<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                    class="fa fa-bars"></i> </a>

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="hidden-xs"><a class="" href="/blog" target="_Blank"><i
                    class="fa fa-rss-square"></i>博客</a>
            </li>
            <li class="hidden-xs"><a class="J_menuItem" data-index="0" href=""><i class="fa fa-qq"></i> 联系我</a>
            </li>
            <li class="dropdown hidden-xs"><a aria-expanded="false" class="right-sidebar-toggle"> <i
                    class="fa fa-tasks"></i> 主题
            </a></li>
        </ul>
    </nav>
</div>
